img {
    width: 300px
 
    ;
}
body {
        text-align: center;
        font-family: "Phosphate";
        font-size: 60px;
        background-image: url(https://media.giphy.com/media/QKN0IVrQKSmbe/giphy.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 150%;
        color: black
      ;
        text-shadow:black;
        
}